@tailwind base;
@tailwind components;
@tailwind utilities;

.portfolio-background1 {
  background-image: url('../public/PORTFOLIO-FLASH-1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:100vh;
}

@media only screen and (max-width: 1000px) {

  .portfolio-background {
    background-position: 80%;
  }
  .natalia-background {
    background-position: 80%;
  }
}






.portfolio-background2 {
  background-image: url('../public/PORTFOLIO-FLASH-2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:100vh;
}

.portfolio-background3 {
  background-image: url('../public/PORTFOLIO-FLASH-3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:100vh;
}

.portfolio-background4 {
  background-image: url('../public/PORTFOLIO-FLASH-4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:100vh;
}

.portfolio-background5 {
  background-image: url('../public/PORTFOLIO-FLASH-5.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:100vh;
}

.portfolio-background6 {
  background-image: url('../public/PORTFOLIO-FLASH-6.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:100vh;
}

.portfolio-background7 {
  background-image: url('../public/PORTFOLIO-FLASH-7.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:100vh;
}
